.input_label {
  @apply text-gray-700 text-sm font-bold mb-2;
}

.input_field {
  padding: 0 10px;
  width: 292px;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.23);
  border-radius: 4px;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.15px;
  color: rgba(0, 0, 0, 0.6);
  position: relative;
}
