.container {
  max-width: 700px;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 1rem;
  padding: 1.5rem;
  border: 1px solid #e5e5e5;
  border-radius: 1rem;
  box-shadow:
    0 3px 3px 0 rgba(0, 0, 0, 0.1),
    0 3px 1px -2px rgba(0, 0, 0, 0.05),
    0 2px 1px rgba(0, 0, 0, 0.02);
}
