.home_hero_container {
  margin-top: -80px;
  width: 100%;
  height: 370px;
  position: relative;
  overflow: hidden;
}

.home_hero_overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 370px;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.1)
  );
  z-index: 1;
}

.home_hero_video {
  position: absolute;
  transform: scale(0.45, 0.45);
  top: -236%;
  left: -87%;
}

.home_hero_text {
  color: white;
  padding-left: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 800px;
  font-size: 18px;
  font-weight: 200;
  z-index: 2;
  padding-bottom: 1rem;
}

.home_hero_accent {
  font-family: 'Sigmar', cursive;
  letter-spacing: 1px;
}

.home_cards_container {
  max-width: 1100px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1rem;
}

.home_card {
  padding: 0 0.9rem 0.9rem 0.9rem;
  margin: 0.5rem;
  height: 150px;
  width: 300px;
  border: 1px solid #e5e5e5;
  border-radius: 1rem;
  box-shadow:
    0 3px 3px 0 rgba(0, 0, 0, 0.1),
    0 3px 1px -2px rgba(0, 0, 0, 0.05),
    0 2px 1px rgba(0, 0, 0, 0.02);
  transition: all 0.3s;
}

.home_card:hover {
  box-shadow:
    0 3px 3px 0 rgba(0, 0, 0, 0.2),
    0 3px 1px -2px rgba(0, 0, 0, 0.1),
    0 2px 1px rgba(0, 0, 0, 0.05);
}

.home_card_header {
  color: black;
  font-size: 24px;
  font-family: 'Sigmar', cursive;
  letter-spacing: 1px;
}

.home_card_body {
  color: black;
  font-weight: 300;
}

@media screen and (min-width: 1440px) {
  .home_hero_container {
    height: 400px;
  }
  .home_hero_overlay {
    height: 400px;
  }
  .home_cards_container {
    margin-top: 3rem;
  }
  .home_hero_video {
    transform: scale(0.5, 0.5);
    top: -195%;
    left: -64%;
  }
}

@media screen and (min-width: 1700px) {
  .home_hero_container {
    height: 550px;
  }
  .home_hero_overlay {
    height: 550px;
  }
  .home_cards_container {
    margin-top: 3rem;
  }
  .home_hero_text {
    font-size: 24px;
  }
  .home_hero_video {
    transform: scale(0.55, 0.55);
    top: -146%;
    left: -51%;
  }
}

@media screen and (min-width: 1840px) {
  .home_hero_video {
    transform: scale(0.65, 0.65);
    top: -148%;
    left: -30%;
  }
}
