.about_container {
  max-width: 700px;
  margin: auto;
  margin-top: 2rem;
  padding: 1.5rem;
  border: 1px solid #e5e5e5;
  border-radius: 1rem;
  box-shadow:0 3px 3px0 rgba(0, 0, 0, 0.1),
   0 3px 1px -2px rgba(0, 0, 0, 0.05),0 2px 1px rgba(0, 0, 0, 0.02);
}

.about_title {
  margin: 0;
  margin-bottom: 1rem;
  font-family: 'Sigmar', cursive;
  letter-spacing: 1px;
}

.about_paragraph {
  font-size: 18px;
  font-weight: 200;
}

.about_ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 1.5rem;
}


.about_li_tech, .about_li_credits {
  margin-top: 0.5rem;
  width: 330px;
  list-style-type: none;
  padding-left: 0.5rem;
  font-size: 18px;
  font-weight: 200;
}

.about_li_credits {
  width: 100%;
  list-style-type: none;
}

.about_subheading {
  font-size: 20px;
  font-weight: 300;
}
