.form_container {
  max-width: 700px;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 1rem;
  padding: 1.5rem;
  border: 1px solid #e5e5e5;
  border-radius: 1rem;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1), 0 3px 1px -2px rgba(0, 0, 0, 0.05),
    0 2px 1px rgba(0, 0, 0, 0.02);
}

.form {
  display: flex;
  flex-direction: column;
}

.form_title {
  font-family: 'Sigmar', cursive;
  letter-spacing: 1px;
  margin: 0;
  margin-bottom: 1rem;
}

.form_input {
  font-family: -apple-system, 'Arial', sans-serif;
  margin-bottom: 0.5rem;
  height: 20px;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

.form_lable {
  margin-bottom: 0.3rem;
  color: #333;
  font-size: 1rem;
}

.form_ingredients_row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form_input_ingredient {
  margin-bottom: 0.5rem;
  width: 192px;
  height: 20px;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

.form_buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.form_button,
.form_button_add {
  font-size: 0.9rem;
  width: 95px;
  height: 30px;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  margin-right: 10px;
  border-radius: 5px;
  border: solid 0.3px #d7d7d7;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1), 0 3px 1px -2px rgba(0, 0, 0, 0.05),
    0 2px 1px rgba(0, 0, 0, 0.02);
  transition: all 0.2s;
}

.form_button:hover,
.form_button_add:hover {
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.05),
    0 3px 1px -2px rgba(0, 0, 0, 0.02), 0 2px 1px rgba(0, 0, 0, 0.01);
}

.form_button:active,
.form_button_add:active {
  box-shadow: 0 3px 3px 0.1px rgba(0, 0, 0, 0.15),
    0 3px 1px -2px rgba(0, 0, 0, 0.06), 0 2px 1px rgba(0, 0, 0, 0.03);
}

.form_button_add {
  align-self: center;
  width: 200px;
}
