.footer {
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-out;
}

.footer_title {
  margin: 0.5rem 0;
  font-weight: 200;
  font-size: 20px;
  color: #333;
}

.footer_text {
  font-weight: 100;
  font-size: 16px;
  color: #333;
}

.footer_link {
  color: #333;
  font-weight: 200;
  text-decoration: none;
}
