.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  width: 100vw;
  background-color: #ffd24d;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.header_logo {
  text-decoration: none;
  color: black;
  margin-left: 1rem;
  width: 400px;
  font-family: 'Sigmar', cursive;
  letter-spacing: 1px;
  font-size: 36px;
}

.nav {
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.ul {
  font-family: 'Sigmar', cursive;
  letter-spacing: 1px;
  margin-right: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.ul .li {
  list-style: none;
  margin: 0rem 1rem;
}

.header_anchor {
  text-decoration: none;
  font-size: 24px;
  color: black;
}

.header_login_section {
  margin-right: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 400px;
}

.login_div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.login_span,
.logout_span {
  font-size: 24px;
  font-family: 'Sigmar', cursive;
  letter-spacing: 1px;
}

.logout_span {
  cursor: pointer;
  text-decoration: underline;
}
