.recipe_container {
  max-width: 700px;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 1rem;
  padding: 1.5rem;
  border: 1px solid #e5e5e5;
  border-radius: 1rem;
  box-shadow: 0 3px 3px0 rgba(0, 0, 0, 0.1), 0 3px 1px -2px rgba(0, 0, 0, 0.05),
    0 2px 1px rgba(0, 0, 0, 0.02);
}

.recipe_title {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  margin-bottom: 0.5rem;
}

.recipe_description {
  font-size: 1.8rem;
  font-weight: 300;
  margin: 0;
  margin-bottom: 1rem;
}

.recipe_instructions {
  font-size: 1.6rem;
  font-weight: 200;
  margin: 0;
  margin-bottom: 1rem;
}

.recipe_details {
  margin-bottom: 1rem;
}

.recipe_summary {
  font-size: 1rem;
  font-weight: 300;
  cursor: pointer;
  list-style: none;
}

.recipe_summary:before {
  content: '🌽';
  display: inline-block;
  font-size: 1.2rem;
  margin-right: 0.5rem;
  transform: rotate(90deg);
  transition: transform 0.2s ease-in-out;
}

.recipe_details[open] .recipe_summary:before {
  transform: rotate(180deg);
}

.recipe_ul {
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  margin-top: 1rem;
  padding: 0;
  list-style: none;
}

.recipe_li {
  color: #333;
  width: 200px;
  margin-right: 1rem;
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 1rem;
}

.recipe_ingredient_name {
  font-weight: normal;
}

.recipe_author {
  font-size: 1.2rem;
  margin: 0;
  margin-bottom: 1rem;
}

.recipe_comments {
  padding: 0.5rem 1rem;
  border: 1px solid #e5e5e5;
  border-radius: 1rem;
  background-color: #f5f5f5;
}

.recipe_comment {
  color: #666;
  margin-left: 1.5rem;
}

.recipe_comment_author {
  font-weight: normal;
  color: #333;
  margin-bottom: 0;
}

.recipe_login {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: normal;
  color: #333;
  margin-bottom: 1rem;
}

.login_link {
  color: #333;
  text-decoration: underline;
}

.plug {
  width: 550px;
  margin: auto;
  text-align: center;
  margin-top: 2rem;
  font-family: 'Sigmar', cursive;
  letter-spacing: 1px;
  font-size: 24px;
  color: rgb(50, 50, 50);
}
