.recipes_main_container {
  max-width: 1100px;
  margin: auto;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.recipes_input {
  margin: 0.5rem 0;
  text-align: center;
  width: 300px;
  height: 20px;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  box-shadow: 0 3px 3px0 rgba(0, 0, 0, 0.1), 0 3px 1px -2px rgba(0, 0, 0, 0.05),
    0 2px 1px rgba(0, 0, 0, 0.02);
  transition: all 0.3s;
}

.recipes_input_select {
  margin: 0.5rem 0;
  text-align: center;
  width: 150px;
  height: 24px;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  margin-left: 1rem;
  color: #333;
  box-shadow: 0 3px 3px0 rgba(0, 0, 0, 0.1), 0 3px 1px -2px rgba(0, 0, 0, 0.05),
    0 2px 1px rgba(0, 0, 0, 0.02);
}

.recipes_input:focus,
.recipes_input_select:focus {
  outline-width: 0;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2), 0 3px 1px -2px rgba(0, 0, 0, 0.05),
    0 2px 1px rgba(0, 0, 0, 0.025);
}

.recipes_container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.recipe_card {
  position: relative;
  margin: 1rem;
  width: 330px;
  height: 220px;
  border-radius: 10px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.3), 0 3px 1px -2px rgba(0, 0, 0, 0.1),
    0 2px 1px rgba(0, 0, 0, 0.05);
  transition: all 0.2s;
}

.recipe_image,
.recipe_overlay {
  width: 100%;
  height: 220px;
  background-size: cover;
  border-radius: 10px;
  overflow: hidden;
}

.recipe_card:hover {
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.5), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 2px 1px rgba(0, 0, 0, 0.1);
}

.recipe_description {
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 1rem;
}

.recipe_button {
  margin-top: 1rem;
  width: 110px;
  height: 30px;
  background-color: rgb(245, 244, 244);
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1), 0 3px 1px -2px rgba(0, 0, 0, 0.05),
    0 2px 1px rgba(0, 0, 0, 0.02);
  transition: all 0.2s;
}

.recipe_button:hover {
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2), 0 3px 1px -2px rgba(0, 0, 0, 0.1),
    0 2px 1px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

.recipe_flag_container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 10px;
  top: 10px;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  overflow: hidden;
}

.recipe_flag {
  width: 155%;
  height: 155%;
}

.recipe_title_container {
  position: absolute;
  display: flex;
  align-items: center;
  left: 15px;
  top: 10px;
  width: 160px;
  height: 80px;
  overflow: hidden;
  justify-content: flex-start;
}

.recipe_title {
  font-family: 'Sigmar', cursive;
  letter-spacing: 1px;
  font-size: 20px;
  color: white;
}

.recipe_overlay {
  position: absolute;
  top: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0));
}
